DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine On

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

# Deliver the folder or file directly if it exists on the server
#RewriteCond %{REQUEST_URI} !public/assets
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Remove trailing slash
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]
